<div class="jumbotron">
  <h1>Nuevo torneo</h1>
<% form_for(:torneo, '/home/crear') do |f| %> 
	<%= f.label :nombre %>
	<%= f.text_field :nombre %>
	<%= f.label :fecha %>
 	<%= f.text_field :fecha %>
 	<%= f.label :comentario %>
 	<%= f.text_field :comentario %>
  <br/>
  <%= f.submit "Crear", :class => "btn btn-primary" %>
<% end %>
</div>
